/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.active {
  pointer-events: none;
  cursor: default;
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

mat-toolbar-row {
  justify-content: space-between;
}

.push-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.large-form {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
}

.full-width-input {
  width: 100%;
}
